.imageTile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.imageTile .headerText {
  font-weight: 100;
  font-size: 27.3px;
}

.imageTile .footerText {
  text-align: center;
  font-size: 21.2px;
}