.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard .add, .dashboard .view {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add .company, .add .product, .add .story, .view .qrcode, .view .companies {
    width: 400px;
}

.company, .product, .story, .qrcode, .companies {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.dashboard .loader {
    display: flex;
    align-items: center;
}